@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@400;700&display=swap");

body {
  @apply bg-background text-gray-800 font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

.react-datepicker {
  font-family: "Poppins", sans-serif;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  background-color: #e96989;
  border-bottom: none;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white;
}

.react-datepicker__day--selected {
  background-color: #e96989;
}

.react-datepicker__day:hover {
  background-color: #f8a5b6;
}
