@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@400;700&display=swap");

body {
  @apply bg-background text-gray-800 font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

.react-datepicker {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.react-datepicker__header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.react-datepicker__day {
  width: 2rem;
  line-height: 2rem;
  margin: 0.166rem;
}

.react-datepicker__day--selected {
  background-color: #e96989;
  color: white;
}

.time-slots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.time-slot-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.time-slot-button:hover {
  background-color: #f0f0f0;
}

.time-slot-button.selected {
  background-color: #e96989;
  color: white;
}
